
body{
    background-color: #00922C;
    color:#001206;
    
    
}
.home{
    text-align:center;
}
.MyPic{
    border-radius: 50%;
    height:10%;
    width:10%;
}
.row-1{
    background-color:#54D37A;
    padding-top: 1%;
    padding-bottom: 1%;
    
}


nav{
    text-align: center;
}

li{
    list-style:none;
    display: inline;

}

h2{
    text-align: center;
}

.container-2{
    text-align:center;
    height:auto;
    width:auto;
    border:2px solid white;
    margin-left:30%;
    margin-right:30%;
    padding-top:2%;
    padding-bottom:2%;
}

form{
    
    
}

.name{
    margin-left:60px;
}
.email{
    margin-left: 91PX;
}
.reason{
    margin-left:-181px;
}
.provide{
    margin-left:-121px;
}
.apointment{
    margin-left:-59px;
}
.check{
    margin-left:1px ;
}
.edu{
    text-align:center;
}

input{
    background-color:#54D37A;
    border-radius: 5%;
    border:0px;
}